<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key ="PAPERLESS_ENTRANCE" value =""/>
    <add key="DOMAIN" value ="fugro-global"/>
    <add key ="ACCOUNT" value =""/>
    <add key ="PASSWORD" value =""/>
    <add key ="HOTKEY1" value="ALT"/>
    <add key ="HOTKEY2" value="Q"/>
    <add key ="SEARCH_PAGE_URL" value="http://c331/updates/main.html"/>
  </appSettings>

</configuration>